dist/** linguist-generated=true
dist/* linguist-generated=true

src-tauri/** linguist-generated=true
src/src/fonts/stylesheet.css linguist-generated=true
src/src/fonts/stylesheet.css linguist-vendored=true

