/* @font-face {
    font-family: 'WorkSans-BlackItalic';
    src: url('WorkSans-BlackItalic.woff2') format('woff2'),
        url('WorkSans-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'WorkSans-Black';
    src: url('WorkSans-Black.woff2') format('woff2'),
        url('WorkSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('WorkSans-Bold.woff2') format('woff2'),
        url('WorkSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-ExtraBold';
    src: url('WorkSans-ExtraBold.woff2') format('woff2'),
        url('WorkSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'WorkSans-BoldItalic';
    src: url('WorkSans-BoldItalic.woff2') format('woff2'),
        url('WorkSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'WorkSans-ExtraBoldItalic';
    src: url('WorkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('WorkSans-ExtraBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'WorkSans-Light';
    src: url('WorkSans-Light.woff2') format('woff2'),
        url('WorkSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'WorkSans-ExtraLightItalic';
    src: url('WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('WorkSans-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'WorkSans-Italic';
    src: url('WorkSans-Italic.woff2') format('woff2'),
        url('WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'WorkSans-ExtraLight';
    src: url('WorkSans-ExtraLight.woff2') format('woff2'),
        url('WorkSans-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'WorkSans-LightItalic';
    src: url('WorkSans-LightItalic.woff2') format('woff2'),
        url('WorkSans-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'WorkSans-MediumItalic';
    src: url('WorkSans-MediumItalic.woff2') format('woff2'),
        url('WorkSans-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('WorkSans-Regular.woff2') format('woff2'),
        url('WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Medium';
    src: url('WorkSans-Medium.woff2') format('woff2'),
        url('WorkSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('WorkSans-SemiBold.woff2') format('woff2'),
        url('WorkSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Thin';
    src: url('WorkSans-Thin.woff2') format('woff2'),
        url('WorkSans-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'WorkSans-ThinItalic';
    src: url('WorkSans-ThinItalic.woff2') format('woff2'),
        url('WorkSans-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'WorkSans-SemiBoldItalic';
    src: url('WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('WorkSans-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 */
